{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}}</h1>
	<p>Show details for an account</p>
	<form action="/account" method="post">
		<label for="account">Account name</label><br />
		<input type="text" name="account" id="account" value="" />
		<button id="send" type="submit">Show</button>	
	</form> 
	<br />
	<table class="table">
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
		<tr>
			<td>status</td>
			{% if result.account_name is empty %}
				<td class="deco">Not found</td>
			{% else %}
				<td class="co">Found</td>
			{% endif %}
		</tr>
		<tr>
			<td>account_name</td>
			<td>{{result.account_name}}</td>
		</tr>
		<tr>
			<td>created</td>
			<td>{{result.created}}</td>
		</tr>
		<tr>
			<td>public_key</td>
			<td>
			{% for v in result.permissions[0].required_auth %}
				{% for vv in v[0] %}
					{{vv|split(" ")}}
				{% endfor %}
			{% endfor %}
			</td>
		</tr>
	</table>
	<br />
	<table class="table">
		<tr>
			<th>Balances</th>
		</tr>
		{% if balances is empty %}
			<tr>
				<td class="deco">No balances found</td>
			</tr>
		{% else %}
			{% for b in balances %}
			<tr>
				<td>{{b}}</td>
			</tr>
			{% endfor %}
		{% endif %}
	</table>
	<br />
	<table class="table">
		<tr>
			<th>Actions</th>
		</tr>
		{% if actions is empty %}
			<tr>
				<td class="deco">No actions found</td>
			</tr>
		{% else %}
			{% for act in actions %}
				{% for a in act %}
					<tr>
						<td>
							<div class="actitle">Action</div> 
							{{a.action_trace.act.data.memo|split('"')}}<br /><br />
							<div class="actitle">Tx_id</div> 
							<a href="/transaction/{{a.action_trace.trx_id|split('"')}}">{{a.action_trace.trx_id|split('"')}}</a><br /><br />
							<div class="actitle">Block_num</div> 
							<a href="/blockexplorer/{{a.action_trace.block_num}}">{{a.action_trace.block_num}}</a>
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		{% endif %}
	</table>
{% endblock %}
