{% extends 'layout.twig' %}

{% block section %}
<h1>{{title}}</h1>
<p>Show details for current blockchain</p>
<table class="table">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>status</td>
	{% if result.chain_id is empty %}
		<td class="deco">DISCONNECTED</td>
	{% else %}
		<td class="co">CONNECTED</td>
	{% endif %}
  </tr>
  {% if result.chain_id is not empty %}
    <tr>
      <td>link</td>
      <td><a target="_blank" href="{{host}}/v1/chain/get_info">{{host}}</a></td>
    </tr>
  {% endif %}
  <tr>
    <td>chain_id</td>
    <td>{{result.chain_id}}</td>
  </tr>
  <tr>
    <td>server_version</td>
    <td>{{result.server_version}}</td>
  </tr>
  <tr>
    <td>head_block_num</td>
    <td><a href="/blockexplorer/{{result.head_block_num}}">{{result.head_block_num}}</a></td>
  </tr>
  <tr>
    <td>last_irreversible_block_num</td>
    <td><a href="/blockexplorer/{{result.last_irreversible_block_num}}">{{result.last_irreversible_block_num}}</a></td>
  </tr>
  <tr>
    <td>last_irreversible_block_id</td>
    <td>{{result.last_irreversible_block_id}}</td>
  </tr>
  <tr>
    <td>head_block_id</td>
    <td>{{result.head_block_id}}</td>
  </tr>
  <tr>
    <td>head_block_time</td>
    <td>{{result.head_block_time}}</td>
  </tr>
  <tr>
    <td>head_block_producer</td>
    <td><a href="/account/{{result.head_block_producer}}">{{result.head_block_producer}}</a></td>
  </tr>
  <tr>
    <td>virtual_block_cpu_limit</td>
    <td>{{result.virtual_block_cpu_limit}}</td>
  </tr>
  <tr>
    <td>virtual_block_net_limit</td>
    <td>{{result.virtual_block_net_limit}}</td>
  </tr>
  <tr>
    <td>block_cpu_limit</td>
    <td>{{result.block_cpu_limit}}</td>
  </tr>
  <tr>
    <td>block_net_limit</td>
    <td>{{result.block_net_limit}}</td>
  </tr>
  <tr>
    <td>server_version_string</td>
    <td>{{result.server_version_string}}</td>
  </tr>
</table>
{% endblock %}
