{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}}</h1>
	<p>Show details for a block</p>
	<form action="/blockexplorer" method="post">
		<label for="blocknum">Block number</label><br />
		<input type="number" name="blocknum" id="blocknum" value="" />
		<button class="butt" id="send" type="submit">Show</button>	
	</form> 
	<br />
	<table class="table">
		<tr>
		  <th>Key</th>
		  <th>Value</th>
		</tr>
		<tr>
		  <td>status</td>
		  {% if result.timestamp is empty %}
			  <td class="deco">Not found</td>
		  {% else %}
			  <td class="co">Found</td>
		  {% endif %}
		</tr>
		<tr>
			<td>block_num</td>
			<td>{{result.block_num}}</td>
		  </tr>
		<tr>
		  <td>timestamp</td>
		  <td>{{result.timestamp}}</td>
		</tr>
		<tr>
		  <td>producer</td>
		  <td><a href="/account/{{result.producer}}">{{result.producer}}</a></td>
		</tr>
		<tr>
		  <td>confirmed</td>
		  <td>{{result.confirmed}}</td>
		</tr>
		<tr>
		  <td>previous</td>
		  <td>{{result.previous}}</td>
		</tr>
		<tr>
		  <td>action_mroot</td>
		  <td>{{result.action_mroot}}</td>
		</tr>
		<tr>
		  <td>schedule_version</td>
		  <td>{{result.schedule_version}}</td>
		</tr>
		<tr>
		  <td>producer_signature</td>
		  <td>{{result.producer_signature}}</td>
		</tr>
		<tr>
		  <td>id</td>
		  <td>{{result.id}}</td>
		</tr>
		<tr>
		  <td>ref_block_prefix</td>
		  <td>{{result.ref_block_prefix}}</td>
		</tr>
		</table>
		<br />
	<table class="table">
		<tr>
			<th>Transactions</th>
		</tr>
		{% if result.transactions is empty %}
			<tr>
				<td class="deco">No transactions found</td>
			</tr>
		{% else %}
			{% for tx in result.transactions %}
			<tr>
				<td><a href="/transaction/{{tx.trx.id|split('"')}}">{{tx.trx.id|split('"')}}</a></td>
			</tr>
			{% endfor %}
		{% endif %}
	</table>
{% endblock %}
