{% extends 'layout.twig' %}

{% block section %}
    <h1>{{title}}</h1>
    {% if result is defined %}
        {% if result.json.error is defined %}
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> {{result.json.error.what}}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> Conflict has been send
            </div>
		{% endif %}
    {% endif %}
    
    <p>Declare a conflict or a false transaction</p>
    <form action="/conflict" method="post">
        <p>
            <label for="name">Account</label><br />
            <input type="text" name="name" id="name" value="" />
        </p>
        <p>
            <label for="vehicle">Against</label><br />
            <select name="vehicle">
                <option value="marcel">Marcel</option>
                <option value="CityScoot">CityScoot</option>
                <option value="Lime">Lime</option>
                <option value="Velib">Velib</option>
                <option value="sncf">SNCF</option>
                <option value="ratp">RATP</option>
            </select>
        </p>
        <p>
            <label for="conflict">Choice</label><br />
            <select name="conflict">
                <option value="Rent">Rent</option>
                <option value="Payment">Payment</option>
                <option value="Crash">Crash</option>
            </select>
        </p>
        <p>
            <label for="memo">Conflict description</label><br />
            <input type="text" name="memo" id="memo" value="" />
        </p>
		<button class="butt" id="send" type="submit">Declare</button>	
	</form> 
{% endblock %}
