{% extends 'layout.twig' %}

{% block section %}
	<h1>Error {{code}}</h1>
    <div class="alert alert-danger" role="alert">
        <p>{{error}}</p>
    </div>
    <a href="/">Return to home</a>
{% endblock %}
