{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}}</h1>
	<p>MaaS platform developped on EOS blockchain</p>
	<br />
	<div id="indeximgs">
		<img src="https://www.marcel.cab/wp-content/themes/twentythirteen/images/icon-app-60.png" width="100" height="100" alt="marcel" />
		<img src="http://www.carlogos.org/logo/Renault-logo-2007-2048x2048.png" width="100" height="100" alt="renault" />
		<img src="https://pbs.twimg.com/profile_images/824305140471566336/S1DTFA6y_400x400.jpg" width="100" height="100" alt="cityscoot" />
		<img src="https://i.pinimg.com/originals/b9/93/16/b9931609b777943e1f0ca3f60fdc87b1.png" width="100" height="100" alt="lime" />
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Logo_SNCF_2011.svg/1200px-Logo_SNCF_2011.svg.png" width="150" height="100" alt="sncf" />
		<img src="https://upload.wikimedia.org/wikipedia/commons/0/01/RATP.svg" width="100" height="100" alt="ratp" />
	</div>
	<hr /><br />
	<iframe width="645" height="363" src="https://www.youtube.com/embed/8dbdS87RI3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
