<!DOCTYPE html>
<html lang="en">
	<head>
		<title>POC BLOCKCHAIN BBD - {{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
		<link href="/vendor/fonts/circular-std/style.css" rel="stylesheet">
		<link rel="stylesheet" href="/vendor/fonts/fontawesome/css/fontawesome-all.css">r
		<link rel="stylesheet" href="/vendor/fonts/flag-icon-css/flag-icon.min.css">
	</head>
	<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
		<div class="dashboard-main-wrapper">
			<!-- ============================================================== -->
			<!-- navbar -->
			<!-- ============================================================== -->
			<div class="dashboard-header">
				<nav class="navbar navbar-expand-lg bg-white fixed-top">
					<a class="navbar-brand" href="/">POC BLOCKCHAIN</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse " id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto navbar-right-top">
							<li class="nav-item dropdown nav-user">
								<a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-user"></i></a>
								<div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
									<div class="nav-user-info">
										<h5 class="mb-0 text-white nav-user-name">max </h5>
									</div>
									<a class="dropdown-item" href="/account/max"><i class="fas fa-user mr-2"></i>Account</a>
									<a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
								</div>
							</li>
							<li class="nav-item dropdown connection">
								<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
								<ul class="dropdown-menu dropdown-menu-right connection-dropdown">
									<li class="connection-list">
										<div class="row">
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
												<a href="https://gitlab.com/maxb14/poc-blockchain" target="_blank" class="connection-item"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/GitLab_Logo.svg/1108px-GitLab_Logo.svg.png" alt="logo gitlab" > <span>Gitlab</span></a>
											</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!-- ============================================================== -->
			<!-- end navbar -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- left sidebar -->
			<!-- ============================================================== -->
			<div class="nav-left-sidebar sidebar-dark">
				<div class="menu-list">
					<nav class="navbar navbar-expand-lg navbar-light">
						<a class="d-xl-none d-lg-none" href="#">Dashboard</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav flex-column">
								<li class="nav-divider">
									Menu
								</li>
								<li class="nav-item ">
									<a class="nav-link active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link active" href="/blockchain"><i class="fa fa-fw fa-info"></i>Blockchain info</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link active" href="/rent"><i class="fa fa-fw fa-car"></i>Rent</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link active" href="/run"><i class="fa fa-fw fa-exchange-alt"></i>Transfer token</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link active" href="/conflict"><i class="fa fa-fw fa-gavel"></i>Conflict</a>
								</li>
								<!--
								<li class="nav-item ">
									<a class="nav-link active" href="/results"><i class="fa fa-fw fa-chart-bar"></i>Results</a>
								</li>
								-->
								<li class="nav-item ">
									<a class="nav-link active" href="/blockexplorer"><i class="fa fa-fw fa-eye"></i>Block Explorer</a>
								</li>
								<!--
								<li class="nav-item ">
									<a class="nav-link active" href="/transaction"><i class="fa fa-fw fa-eye"></i>Transaction Explorer</a>
								</li>
								-->
								<li class="nav-item ">
									<a class="nav-link active" href="/account"><i class="fa fa-fw fa-user"></i>Accounts</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link active" href="/register"><i class="fa fa-fw fa-plus"></i>Register account</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- end left sidebar -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- wrapper  -->
			<!-- ============================================================== -->
			<div class="dashboard-wrapper">
				<div class="dashboard-ecommerce">
					<div class="container-fluid dashboard-content ">
						<!-- ============================================================== -->
						<!-- end pageheader  -->
						<!-- ============================================================== -->
						<section>
							{% block section %}{% endblock %}
						</section>
					</div>
				</div>
			</div>
				<!-- ============================================================== -->
				<!-- footer -->
				<!-- ============================================================== -->
			<!--	<div class="footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="text-md-right footer-links d-none d-sm-block">
									<a href="javascript: void(0);">About</a>
									<a href="javascript: void(0);">FAQ</a>
									<a href="javascript: void(0);">Contact</a>
								</div>
							</div>
						</div>
					</div>
				</div>-->
				<!-- ============================================================== -->
				<!-- end footer -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- end wrapper  -->
			<!-- ============================================================== -->
		</div>
		<script src="/vendor/jquery/jquery-3.3.1.min.js"></script>
		<!-- bootstap bundle js -->
		<script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
		<!-- slimscroll js -->
		<script src="/vendor/slimscroll/jquery.slimscroll.js"></script>
		<!-- main js -->
		<script src="/javascripts/main-js.js"></script>
		<!-- chart c3 js -->
		<script src="/vendor/charts/c3charts/c3.min.js"></script>
		<script src="/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
	</body>
</html>
