{% extends 'layout.twig' %}

{% block section %}
    <h1>{{title}}</h1>
    {% if result is defined %}
        {% if result.json.error is defined %}
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> {{result.json.error.what}}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> Account has been created
            </div>
		{% endif %}
    {% endif %}
    
    <p>Register account</p>
    <form action="/register" method="post">
        <p>
            <label for="name">Account name (new account)</label><br />
            <input type="text" name="name" id="name" value="" />
        </p>
		<button class="butt" id="send" type="submit">Create</button>	
	</form> 
{% endblock %}
