{% extends 'layout.twig' %}

{% block section %}
    <h1>{{title}}</h1>
    {% if result is defined %}
        {% if result.json.error is defined %}
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> {{result.json.error.what}}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> Rent has been send
            </div>
		{% endif %}
    {% endif %}
    
    <p>Rent a vehicle</p>
    <form action="/rent" method="post">
        <div class="left">
            <p>
                <label for="customer">Account name (customer)</label><br />
                <input type="text" name="customer" id="customer" value="" />
            </p>
            <p>
                <label for="vehicle">Choice</label><br />
                <select name="vehicle">
                    <option value="marcel">Marcel</option>
                    <option value="CityScoot">CityScoot</option>
                    <option value="Lime">Lime</option>
                    <option value="Velib">Velib</option>
                    <option value="sncf">SNCF</option>
                    <option value="ratp">RATP</option>
                </select>
            </p>
        </div>
        <div class="right">
            <p>
                <label for="date">What date ?</label><br />
                <input type="date" name="date" id="date" value="" />
            </p>
            <p>
                <label for="time">What time ?</label><br />
                <input type="time" name="time" id="time" value="" />
            </p>
        </div>
        <br />
        <div class="mapouter"><div class="gmap_canvas"><iframe width="452" height="179" id="gmap_canvas" src="https://maps.google.com/maps?q=195%20avenue%20charles%20de%20gaulle%20neuilly&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{text-align:right;height:179px;width:452px;}.gmap_canvas {overflow:hidden;background:none!important;height:179px;width:452px;}</style></div>
        <br />
		<button class="butt" id="send" type="submit">Rent</button>	
	</form> 
{% endblock %}