{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}}</h1>
	{% if result is defined %}
		{% if result.json.error is defined %}
			<div class="alert alert-danger" role="alert">
				<strong>Error!</strong> {{result.json.error.what}}
			</div>
		{% else %}
			<div class="alert alert-success" role="alert">
				<strong>Well done!</strong> Transfer has been executed
			</div>
		{% endif %}
	{% endif %}

	<p>Transaction between 2 accounts with 1 token</p>
	<form action="/run" method="post">
		<div class="left">
			<p>
				<label for="sender">Account name (sender)</label><br />
				<input type="text" name="sender" id="sender" value="" />
			</p>
			<p>
				<label for="receiver">Account name (receiver)</label><br />
				<input type="text" name="receiver" id="receiver" value="" />
			</p>
		</div>
		<div class="right">
			<p>
				<label for="amount">Amount</label><br />
				<input type="number" name="amount" id="amount" value="" />
			</p>
			<p>
				<label for="symbol">Symbol</label><br />
				<input type="text" name="symbol" id="symbol" value="" />
			</p>
		</div>
		<br /><br />
		<button id="send" type="submit">Run</button>	
	</form> 
{% endblock %}
