{% extends 'layout.twig' %}

{% block section %}
	<h1>{{title}}</h1>
	<p>Show details for a transaction</p>
	<br />
	<table class="table">
		<tr>
		  <th>Key</th>
		  <th>Value</th>
		</tr>
		<tr>
		  <td>id</td>
		  <td>{{result.id}}</td>
		</tr>
		<tr>
			<td>status</td>
			<td>{{result.trx.receipt.status}}</td>
		</tr>
		<tr>
			<td>cpu_usage_us</td>
			<td>{{result.trx.receipt.cpu_usage_us}}</td>
		</tr>
		<tr>
			<td>net_usage_words</td>
			<td>{{result.trx.receipt.net_usage_words}}</td>
		</tr>
		<tr>
			<td>block_time</td>
			<td>{{result.block_time}}</td>
		</tr>
		<tr>
			<td>block_num</td>
			<td><a href="/blockexplorer/{{result.block_num}}">{{result.block_num}}</a></td>
		</tr>
		<tr>
			<td>action</td>
			<td>{{result.traces[0].act|json_encode()}}</td>
		</tr>
	</table>
{% endblock %}
